amqp==5.0.1
celery==5.0.0
Django==3.1
django-environ==0.4.5
django-filter==2.3.0
djangorestframework==3.11.1
Pygments==2.6.1
redis==3.5.3
requests==2.24.0
django-username-email==2.4.2
python-dateutil==2.8.1
stripe==2.60.0